.custom-file-upload {
    display: inline-block;
    padding: 10px 15px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    text-align: 10px 0;
}

.custom-file-upload:hover {
    background-color: #b35100;
}

#category-image {
    display: none;
}

.image-preview {
    margin-top: 10px;
    max-width: 200px;
    max-height: 200px;
    border: 2px solid orange;
    padding: 5px;
    border-radius: 5px;
}

.image-category {
    width: 80px;
    height: 80px;
}

.btn-update-category {
    color:#ff9800!important;
    background-color: #ff9800 ;
    /* cam nổi bật */
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-update-category:hover {
    background-color: #e68900;
    /* cam đậm khi hover */
    transform: scale(1.05);
}

.btn-delete-category {
    color: #f44336!important;
    background-color: #f44336;
    /* đỏ nổi bật */
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.btn-delete-category:hover {
    background-color: #d32f2f;
    /* đỏ đậm khi hover */
    transform: scale(1.05);
}

.category-image, .image-product {
    display: none;
}

.category-image, .product-images {
    display: none;
}


.image-preview-listproduct {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    margin-top: 10px;
    gap: 10px;
}

.image-preview-container img,
.image-preview-listproduct img,
.image-preview {
    max-width: 120px;   /* giới hạn chiều rộng */
    max-height: 120px;  /* giới hạn chiều cao */
    object-fit: cover;  /* cắt vừa khung, không méo */
    margin: 5px;        /* khoảng cách giữa các ảnh */
    border: 1px solid #ddd;
    border-radius: 4px;
}

.image-account {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.custom-message-top {
    font-size: 14px;
    color: #333;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}