.profile-pic-container {
    position: relative;
    display: inline-block;
}

.profile-pic {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ddd;
    cursor: pointer;
}

.category-filter.active {
    color: var(--ltn__secondary-color);
    font-weight: bold;
    text-decoration: underline;
}

/* custom loading spinner */
.loading-spinner {
    display: flex;
    align-items: center;
    justify-self: center;
    display: none;
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
}

.loader:before,
.loader:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}

.loader:after {
    box-shadow: 0 2px 0 #FF3D00 inset;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg)
    }

}